body {
    font-family: Arial, sans-serif;
    background-color: #19191b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    color: rgb(195, 18, 54);
    margin-bottom: 20px;
}

.calendar {
    background-color: #2e2f34;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    max-width: 600px;
}

.calendar_background {
    background-color: #5d5a5a;
    padding: 5px;
    border-radius: 10px;
}

.calendar_info {
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.calendar_prev, .calendar_next {
    cursor: pointer;
    user-select: none;
}

/* Grid para los días de la semana y los días del mes */
.calendar-week, .calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    gap: 5px;
}

.calendar_day {
    padding: 10px;
}

/* Estilos dinámicos solicitados en la consigna */
.calendar_item {
    font-weight: bold;
    color: #000000;
    font-size: 0.8rem;
}

/* Estilo base para los números */
.day-item {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.125s;
}

.day-item:hover {
    background-color: #767676;
}

/* --- CLASES SOLICITADAS EN EL PDF --- */

/* Día actual: Fondo amarillo, borde redondeado */
.calendar_day--today {
    background-color: #ffff67; 
    border-radius: 50%;
    font-weight: bold;
    transition: 0.25s;
}

.calendar_day--today:hover {
    background-color: #fdfd96;
    scale: 1.1;
}

/* Feriado: Fondo carmesí, texto blanco */
.calendar_day--holiday {
    background-color: crimson;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    transition: 0.25;
}

.calendar_day--holiday:hover {
    background-color: rgb(255, 0, 51);
    scale: 1.1;
}